
<%= form_for @customer do |f| %>
 
  <% if @customer.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2>
        <%= pluralize(@customer.errors.count, "error") %> prohibited
        this customer from being saved:
      </h2>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control', placeholder: "Enter your name" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, :class => 'form-control', placeholder: "Enter your phone" %>
  </div>
 
  <p>
    <%= f.submit :class => 'btn btn-success' %>
  </p>
 
<% end %>