<h1>Listing customers</h1>

<button type="button" class="btn btn-primary btn-lg"><%= link_to 'New customer', new_customer_path %></button>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Name</th>
    <th>Phone</th>
  </tr>
</thead>
  <tbody> 
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.phone_number %></td>
      <td> <%= link_to 'Show', customer_path(customer) %> </td>
      <td> <%= link_to 'Edit', edit_customer_path(customer) %> </td>
      <td> <%= link_to 'Destroy', customer_path(customer),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> </td>
    </tr>
  <% end %>
</tbody>
</table>